body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.box {
    background: white;
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

textarea {
    width: 90%;
    height: 120px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
